@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
.about
{
    
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  z-index: 1;

}

.about-content h1
{
    font-size: 2.85rem;
    color: aliceblue;
}
.about-content p
{
font-weight: 70;
 line-height: 1.5;
 font-family: monospace;
 font-size: 19.5px;
 color: aliceblue;
}
.about-img img
{
    width: 35vw;
    animation: floatImage01 4s ease-in-out;
    border-radius: 16px;
}

@keyframes floatImage01
{
  0%
  {
    transform: translateY(0);
  }
  50%
  {
    transform: translateY(-2.4rem);
  }
  100%{
    transform: translateY(0);
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 45px 0 10px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
html {
  scroll-behavior: smooth;
}
.row
{
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col
{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2),.col:nth-child(3)
{
    flex-basis: 15%;


}
.logo
{
    width: 45px;
    margin-bottom: 30px;
    border-radius: 16px;
}

.col h3
{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id
{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li
{
    list-style: none;
    margin-bottom: 12px;

}
ul li a{
    text-decoration: none;
    color: #fff; 
}

form
{
    padding-bottom:15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa-solid
{
    font-size: 18px;
    margin-right: 10px;
}
form input
{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

}
form button
{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid
{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fab
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;

}

hr
{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright
{
    text-align: center;
}

.underline

{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 38px;
    left: 0;
    padding: auto;
    overflow: hidden;
}

.underline span
{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}
@keyframes moving
{
    0%
    {
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media(max-width:700px)
{
    footer
    {
        bottom: unset;
    }
    .col
{
    flex-basis: 100%;
    
}
.col:nth-child(2),.col:nth-child(3)
{
    flex-basis: 100%;


}
}

